<!--<interactive-graph [graphType]="graphType" (emitGraph)="setGraph($event)"></interactive-graph>

<custom-interactive-graph [graph]="graph" [isSTExercise]=true></custom-interactive-graph>

<custom-interactive-graph></custom-interactive-graph>
<button (click)="show()">Show</button>-->
<h1 style="font-family:courier,arial,helvetica;">Demo interactive-graph</h1>
<p style="font-family:courier,arial,helvetica;"> Under construction..</p>
<hr>
<div class="flex-container">
    <router-outlet></router-outlet>
    <app-about></app-about>
</div>