.flex-container {
    display: flex;
}

.version-container {
    border-radius: 5px;
    border-style: groove;
    width: fit-content;
    height: fit-content;
    padding: 0;
}

.current {
    background-color: rgb(197, 197, 197);
    color: white;
}