<!--<interactive-graph [graphType]="graphType" (emitGraph)="setGraph($event)"></interactive-graph>

<custom-interactive-graph [graph]="graph" [isSTExercise]=true></custom-interactive-graph>

<custom-interactive-graph></custom-interactive-graph>
<button (click)="show()">Show</button>-->
<!--
<h1 style="font-family:courier,arial,helvetica;">Demo interactive-graph</h1>
<p style="font-family:courier,arial,helvetica;"> Under construction..</p>
<hr>
-->
<nav class="navbar navbar-default">
    <div class="navbar-header">
        <a class="navbar-brand" routerLink="/"><b>Demo interactive-graph</b></a>
    </div>
    <ul class="nav navbar-nav">
        <li>
            <a routerLinkActive="current" routerLink="/" [routerLinkActiveOptions]="{exact:
                true }" (click)="currentLink()">Standard usage</a>
        </li>
        <li>
            <a routerLinkActive="current" routerLink="/custom" [routerLinkActiveOptions]="{exact:
                true}" (click)="currentLink()">Customized usage</a>
        </li>
    </ul>

    <ul class="nav navbar-nav navbar-right">
        <li style="margin-right: 15px;">
            <a href="https://github.com/tangkevkev/demoInteractiveGraph" target="_blank" style="font-family:courier,arial,helvetica;">Github repository</a>
        </li>
    </ul>
</nav>
Under Construction...

<router-outlet></router-outlet>